*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    user-select: none; 
}
img{
    width: 100px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: var(--darkColor--);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color3--);
}
:root{
    --color1--:rgb(255, 208, 55);
    --color2--:aliceblue;
    --color3--:rgb(240, 233, 218);
    --darkColor--:#222;
    --transparentColor--:#22222294;
}
@keyframes scrollAnimation{
    form{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
body{
    background-image: url(./imgs/bg3.jpg);
    overflow-x: hidden;
}
nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: var(--darkColor--);
    box-shadow: 0 0 30px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
nav div{
    position: relative;
    margin: 30px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div svg{
    font-size: 25px;  
    cursor: pointer;
    transition: 0.1s;
    color: var(--color2--);
}
.searchIcon{
    position: absolute;
    right: 30px;
}
nav div svg:hover{
    color: var(--color1--);
}
.navMid a{
    position: relative;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    color: var(--color2--);
    transition: 0.3s;
    /* overflow: hidden; */
}
/* .navMid a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top:0;
    left: -100%;
    transition: 0.4s;
    background-color: var(--color1--);
} */
.navMid a:hover{
    color: var(--color1--);
    border-top: 3px solid var(--color1--);
}
.navMid a:hover::before{
    left: 0px;
}
.login{
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color1--);
    color: var(--color1--);
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    font-size: 20px;
}
.login:hover{
    letter-spacing:1px;
    color: var(--color3--);
    border-top: 2px solid var(--color3--);
}
.login::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    left: -100%;
    transition: 0.2s;
    background-color: var(--color3--);
}
.login:hover::before{
    left: 0px;
}
.navActive{
    color: var(--color1--) !important;
    border-top: 3px solid var(--color1--);
}
.sec1{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.khas,.tomato,.felfel{
    position: absolute;
    width: 200px;
}
.bgImgs{
    filter: blur(3px);
}
.khas{
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    transform: rotate(40deg);
}
.felfel{
    top: 0%;
    right: 30%;
}
.tomato{
    bottom: -10%;
    right: -6%;
    width: 350px;
}
.mainLogo{
    position: relative;
    width: 550px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}
.sec1 h1{
    position: relative;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color1--);
    margin: 30px;
    font-size: 30px;
    font-weight: 900;
}
.sec1 p{
    position: relative;
    width: 40%;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color2--);
    display: flex;
}
.menuBtn{
    position: relative;
    width: 120px;
    height: 50px;
    border: var(--color2--) solid 2px;
    color: var(--color2--);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.menuBtn:hover{
    border: 2px var(--color1--) solid;
    color: var(--color1--);
    letter-spacing: 1px;
}
.sec2{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.sec2 h1{
    position: absolute;
    font-size: 25px;
    color: var(--color2--);
    font-weight: 800;
    top: -50px;
}
.serviceDad{
    position: relative;
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparentColor--);
    border-radius: 50px;
    animation: scrollAnimation 2s linear ;
    animation-timeline: view();
    animation-range: entry 0;
}
.serviceDad div{
    width: 30%;
    color: var(--color2--);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.serviceDad div svg{
    margin-bottom: 10px;
}
.serviceDad div p{
    margin-top: 10px;
}
.serviceDad div svg{
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    font-size: 10px;
    background-color: var(--color1--);
    color: black;
}
.sec3{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;  
    flex-direction: column;
}
.sec3 h1{
    color: var(--color2--);
    font-weight: 800;
    margin: 30px;
    font-size: 40px;
}
.menuDad{
    position: relative;
    width: 80%;
    height: 90vh;
    background-color: var(--transparentColor--);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.menu{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color2--);
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    border-top: 2px solid var(--color1--);
}
.menu:hover{
    border: 2px solid var(--color1--);
    transition: none;
}
.menuDad div img{
    width: 200px;
    margin-bottom: 50px;
    transition: 0.4s;
}
.menu:hover.menu img{
    width: 210px;
}
.menuDad div h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.menuDad div h4{
    font-size: 17px;
    margin-bottom: 30px;
}
.btnsHolder{
    width: 30%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btnsHolder{
    position: relative;
    width: 60% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.btnsHolder div{
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid var(--color1--);
    transition: 0.2s;
}
.btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
}
.cartH4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 13px !important;
}
.btn1{
    color: var(--color1--);
    flex-basis: 60%;
    align-items: end;
    flex-wrap: wrap;
}
.btn2{
    color: rgb(230, 105, 105);
    border: 2px solid rgb(230, 105, 105) !important;
}
/* .btn3{
    color: var(--color2--);
    border: 2px solid var(--color2--) !important;
} */
.btnsHolder div:hover{
    border: 2px solid var(--color2--) !important;
    color: var(--color2--);
}
.btn1 svg{
    margin-right: 20px;
}
.sec4{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    padding: 50px;
}
.sec4 h1{
    position: absolute;
    font-size: 40px;
    color: var(--color2--);
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
}
.contactDiv{
    height: 100%;
    width:35%;
    display: flex;
    flex-direction: column;
    background-color: var(--transparentColor--);
}
.map{
    width: 35%;
    height: 100%;
}
.formDiv form{
    display: flex;
    flex-direction: column;
}
.formDiv form input{
    width: 85%;
    height: 40px;
    margin: 15px;
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--color2--);
    color: var(--color2--);
}
.formDiv form input:focus{
    border: 2px solid var(--color1--);
    width: 90%;
}
.formDiv form input::placeholder{
    position: absolute;
    top: 10px;
    font-size: 16px;
    color: rgba(201, 199, 199, 0.596);
}
.messege{
    height: 150px !important;
}
.submit{
    width: 35% !important;
    cursor: pointer;
}
.submit:hover{
    border: 2px solid var(--color1--);
    color: var(--color1--);
}
.contacts{
    display: flex;
    height: 50%;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}
.contacts div{
    width: 50%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts div svg{
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--color1--);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.contacts div h2{
    color: var(--color2--);
}
.contacts div p{
    color: var(--color2--);
    margin-top: 10px;
}
.sec5{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(./imgs/bg3.jpg);
    top: -100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 950;
    transition: 0.4s;
    overflow-y: scroll;
}
.openCart{
    top: 0% !important;
}
.disableScroll{
    overflow: hidden;
}
.sec5 h1{
    position: relative;
    color: var(--color2--);
    font-size: 40px;
    margin-top: 100px;
}
.cartDad{
    width: 90%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.foodCountDiv{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.foodCountDiv div{
    position: relative;
    width: 100%;
    height: 19%;
    border: 2px solid var(--color2--);
    margin-top: 9px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparentColor--);
}
.foodCountDiv div input{
    height: 25%;
    background-color: transparent;
    border: 2px solid var(--color2--);
    color: var(--color2--);
    margin-right: 5%;
    outline: none;
    font-size: 15px;
    width: 120px;
    padding-left: 55px;
}
.foodCountDiv div h3{
    position: absolute;
    left: 16%;
    top: 40px;
    color: var(--color1--);
}
.foodCountDiv div p{
    top: 70px;
    position: absolute;
    left: 16%;
    color: var(--color2--);
}
.foodCountDiv div img{
    margin-left: 5%;
}
.foodCountDiv div svg{
    position: absolute;
    font-size: 20px;
    color: red;
    top: 10px;
    right: 10px;
    cursor: pointer;
    margin-left: 5px;
}
.foodCountDiv div svg:hover{
    color: var(--color2--);
}
.x{
    position: absolute !important;
    right: 10px;
    top: 0px;
    width: 30px !important;
    height: 30px !important;
    border: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x:hover{
    color: var(--color2--);
}
.buyDiv{
    position: relative;
    height: 90%;
    width: 33%;
    border: 3px solid var(--color2--);
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--transparentColor--);
}
.cartNav{
    position: absolute;
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    top: 0px;
}
.cartNav h1{
    font-size: 30px;
    margin-bottom: 90px;
    margin-left: 50px;
}
.cardType{
    position: relative;
    width: 100%;
    height: 70px;
    /* background-color: red; */
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.cardType::before{
    content: "Card Type";
    position: absolute;
    color: var(--color2--);
    font-size: 18px;
    top: -20px;
    left: 15px;
}
.buyDiv form{
    width: 100%;
    height: 55%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.buyDiv form input{
    width: 94%;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--color2--);
    color: var(--color2--);
    padding-left: 10px;
}
.buyDiv form input::placeholder{
    color: rgba(223, 223, 223, 0.705);
}
.sendOrder{
    position: relative;
    margin-top: 10px;
    height: 14%;
    width: 94%;
    /* background-color: red; */
    border-top: 2px solid var(--color2--);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color2--);
    margin-bottom: 20px;
}
.sendOrder div{
    width: 100%;
    height: 40px;
    background-color: var(--color1--);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.sendOrder div:hover{
    background-color: var(--darkColor--);
    color: var(--color2--);
}
.backCard{
    position: absolute;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--color2--);
    border: 2px solid var(--color2--);
    top: 100px;
    left: 95px;
    cursor: pointer;
    transition: 0.3s;
}
.backCard:hover{
    border: 2px solid var(--color1--);
    color: var(--color1--);
    letter-spacing: 1px;
}
footer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--darkColor--);
    padding: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid var(--color1--);
}
.myLinks{
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: 60px;
    border: 2px solid var(--color2--);
    align-items: center;
}
.myLinks svg{
    font-size: 40px;
    color: var(--color1--);
    margin: 10px;
    transition: 0.3s;
}
.myLinks svg:hover{
    color: var(--color2--);
}
footer h4{
    color: rgba(207, 207, 207, 0.575);
    margin-top: 20px;
}
.cartNum{
    position: absolute;
    top: -10px;
    width: 25px;
    height: 25px;
    background-color: var(--color1--);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: plus 1s infinite linear;
}
.dots{
    position: fixed;
    height: 300px;
    width: 70px;
    /* background-color: red; */
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dots div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--darkColor--);
    cursor: pointer;
    border: 2px solid var(--color2--);
}
.dotActive{
    background-color: var(--color1--) !important;
}
.totalPrice{
    position: absolute !important;
    font-size: 15px !important;
    right: 10px;
    top: -110%;
    color: var(--color1--) !important;
}
.finalCount{
    position: absolute;
    font-size: 15px;
    right: 10px;
    top: 25px;
    color: var(--color1--) !important;
}
.visa{
    width: 50px;
    height: 40px;
    background-color: white;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.cartBtnDad{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loginDad{
    width: 130px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.alert{
    position: fixed;
    width: 40%;
    height: 10%;
    background-color: var(--transparentColor--);
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
    border-radius: 50px;
    border: 2px solid var(--color1--);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.alert h2{
    color: var(--color2--);
}
.navRight{
    display: flex;
    justify-content: end;
}
.fa-cc-visa{
    font-size: 40px;
}
.fa-cc-mastercard{
    font-size: 40px;
}
.fa-paypal{
    font-size: 40px;
}
.fa-credit-card{
    font-size: 40px;
}
.visaActive{
    background-color: var(--color1--) !important;
}
@media (max-width:1200px){
    .menuDad div div{width: 60%;}
    .navMid a{
        font-size: 15px;
    }
}
@media (min-width:1000px) and (max-width:1200px){
    .menuDad div div{width: 60%;}
    .myLinks{width: 30%;}
}
@media (max-width:1000px){
    .dots{
        display: none;
    }
}
@media (max-width:950px){
    nav div svg{
        /* margin-left: 100px; */
        font-size: 20px;
    }
    .cartNum{
        /* margin-right: 100px; */
        left: 10px;
        width: 20px;
        height: 20px;
    }
    .login{
        width: 60px;
        margin-right: 10px !important;
        height: 35px;
    }
    .sec1 h1{
        font-size: 20px;
        width: 370px;
    }
    .navMid{
        width: 40% !important;
    }
    nav div{
        margin: 0px;
    }
    .navMid a{
        font-size: 12px;
    }
}
@media (min-width:350px) and (max-width:800px){
    .menuDad div img{
        width: 150px;
    }
    .menu:hover.menu img{
        width: 150px;
    }
    .serviceDad{
        margin-top: 100px;
        height: 350px;
    }
    .serviceDad div p{
        width: 90%;
        font-size: 12px;
    }
}
@media (max-width:750px){
    .bgImgs{
        display: none;
    }
    .sec1 p{
        font-size: 17px;
    }
}
@media (max-width:400px){
    .sec1 p{
        font-size: 12px;
        width: 50%;
    }
    .sec1 h1{
        font-size: 15px;
        width: 320px;
    }
    .mainLogo{
        width: 350px;
    }
}
@media (max-width:1450px){
    .menuDad div h4{
        display: none;
    }
    .btn1{
        align-items: center;
        padding-left: 10px;
    }
}